In [1]:
import pandas as pd

#1.
data = {'First Column':  ['Tom', 'Second value 10'],
        'Second Column': ['Anna', 'Second value 20']}

df = pd.DataFrame (data, columns = ['First Column','Second Column'])

print (df)

      First Column    Second Column
0              Tom             Anna
1  Second value 10  Second value 20

In [2]:
#2.-initialize list of lists
data = [['Tom', 'Second value 10'], ['Anna', 'Second value 20']]
df = pd.DataFrame (data, columns = ['First Column','Second Column'])
print(df)

  First Column    Second Column
0          Tom  Second value 10
1         Anna  Second value 20

In [3]:
#3.-index
df = pd.DataFrame (data, columns = ['First Column','Second Column'], index=['Index_1','Index_2'])

print (df)

        First Column    Second Column
Index_1          Tom  Second value 10
Index_2         Anna  Second value 20

In [4]:
#4.-creating Dataframe from list of dicts
data = [{'Tom': 1, 'Anna': 2},
        {'Tom':10, 'Anna': 20}]
df = pd.DataFrame(data)
print(df)

   Tom  Anna
0    1     2
1   10    20

In [5]:
#5.-third value John is not used
data = [{'Tom': 1, 'Anna': 2},
        {'Tom': 10, 'Anna': 20, 'John': 30}]

df = pd.DataFrame(data, index=['Index_1','Index_2'], columns = ['Tom','Anna'])
print(df)

         Tom  Anna
Index_1    1     2
Index_2   10    20

In [6]:
#6.- creating DataFrame using zip() function
Name = ['Tom', 'Anna', 'John'] 
Age = [25, 30, 26] 
# and merge lists by using zip()
list_of_tuples = list(zip(Name, Age))
df = pd.DataFrame(list_of_tuples, columns = ['Name', 'Age'])
print(df)

   Name  Age
0   Tom   25
1  Anna   30
2  John   26

In [7]:
#7.creating DataFrame from Dicts of series
data= {'Tom' : pd.Series([5, 15], index = ['Index_1','Index_2']),
        'Anna' : pd.Series([20, 30], index = ['Index_1','Index_2'])}
df = pd.DataFrame(data)
print(df)

         Tom  Anna
Index_1    5    20
Index_2   15    30

In [8]:
#8. array
import numpy as np
df = pd.DataFrame(np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]]),
                   columns=['a', 'b', 'c'])
df

   a  b  c
0  1  2  3
1  4  5  6
2  7  8  9

In [9]:
df.dtypes

a    int32
b    int32
c    int32
dtype: object

In [12]:
df.to_csv('Finaltestdata.csv', index = False, header=True)

#if you wish to include the index, then simply remove index = False
#df.to_csv(r'C:\Users\HT-ICT\Desktop\Finaltestdata.csv', index = False, header=True) #if you want to save it on Desktop

In [13]:
#importing excel file :data = pd.read_excel(r'C:\Users\HT-ICT\Desktop\testdata.xlsx') for an earlier version of Excel use 'xls'
#possible error:
#Use pip or conda to install odfpy to support .ods
#use the PIP install method to install xlrd: pip install xlrd

#importing csv file
data2=pd.read_csv(r'C:\Users\HT-ICT\Desktop\testdata.csv')
df3 = pd.DataFrame(data2, columns = ['Name','Surname','Age'])

print (df3, "\n")

#Get the maximum value from the DataFrame
max1 = df3['Age'].max()
print (max1)

     Name  Surname  Age
0   Esmee   Bloggs   25
1  Tahlia     Bray   37
2    Cai   Mcgrath   30

37